root { 
    display: block;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../imagenes/fondov.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #A0CDA2;
    border-radius: 35px;
    border: 1px solid grey;
    font-size: 0.75em;
}

.header__img:nth-of-type(1) {
    width: 110px;
}

.header__img:nth-of-type(2) {
    width: 150px;
}

.header__title {
    text-align: center;
}

.header__title h1:nth-of-type(2) {
    font-family: Kristen ITC, 'Pangolin', cursive;
}

.formulario_titulo {
    height: 100px;
    background-color: lightgray;
    display: grid;
    justify-items: center;
    border-radius: 5px;

}

a {
  /*   color: #e33b06; */
}

table {
    empty-cells: show;
}

.formulario {
    height: 1000px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.formulario input {
    width: 300px;
}
.formulario select {
    width: 300px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}

#menu {
float: left;
width: 150px;
list-style: none;
}

#menu li {
background-color: #109226;
border-radius: 8px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-bottom: 5px;
font-size: medium;
text-align: center;
line-height: 30px;
}

#contenedor 
{
font-size:1em;
background-color: #ffffff;
/* border:#d3d3d3 1px solid; */
text-align: justify;
margin: 10px auto;
width : 1300px ;
}
#menu a 
{
display: block;
text-decoration: none;
color : #000000;
}
#menu li:hover {
background-color: #A0CDA2;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #A0CDA2;
    border-radius: 35px;
    border: 1px solid grey; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: #3F7142;
    text-align: center;
}