root { 
    display: block;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../imagenes/fondov.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #A0CDA2;
    border-radius: 35px;
    border: 1px solid grey;
    font-size: 0.75em;
}

.header__img:nth-of-type(1) {
    width: 110px;
}

.header__img:nth-of-type(2) {
    width: 150px;
}

.header__title {
    text-align: center;
}

.header__title h1:nth-of-type(2) {
    font-family: Kristen ITC, 'Pangolin', cursive;
}

.main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.main_menu {
    width: 200px;
    margin-top: 50px;
} 
.main_menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.main_menu ul li {
    margin-top: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-color: green;
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 20px 20px 0px;
    padding-left: 20px;
    box-shadow: 5px 0px 10px green; 
}
.main_menu ul :hover {
    background-color: rgb(129, 197, 129); 
}
.main_menu ul li a {
    text-decoration: none;
    color: black;
}
.main_form {
    align-items: flex-start;
    margin: 50px;
    background-color: lightblue;
    padding: 30px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main_form h3 {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 10px;
}

.main_form input {
    margin: 0px;
    width: 250px;
    height: 20px;
    border-radius: 6px;
    border: solid gray 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
.main_form select {
    width: 250px;
    height: 30px;
    border-radius: 6px;
    border: solid gray 2px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #A0CDA2;
    border-radius: 35px;
    border: 1px solid grey; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: #3F7142;
    text-align: center;
}